
.Chatbot .learning-options-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.Chatbot .learning-option-button {
  padding: 0.5rem;
  border-radius: 25px;
  background: transparent;
  border: 1px solid #ffa500;
  margin: 3px;
}